@import '../../../assets/styles/variables';

latest-games {
  h1 {
    margin: 2.1rem 30px 1.68rem 30px;
  }

  .match-item-container {
    display: flex;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    &:hover {
      background: $primary;
    }

    > div {
      height: 100%;
    }

    .score {
      align-self: center;
      font-family: 'Passion One', sans-serif;
      font-size: 40px;
    }
  }

  .team-info {
    &:first-of-type {
      .team {
        margin-right: 7px;
      }
    }

    &:last-of-type {
      .team {
        margin-left: 7px;
      }
    }

    .team {
      font-family: 'Passion One', sans-serif;
      font-size: 50px;
      font-weight: 700;
    }

    .sum {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
    }
  }
}
