<div class="matcher-modal-container">
  <div class="matcher-modal-content-container">
    <button type="button" (click)="closeModal()" class="btn-floating waves-light grey darken-3"><i class="material-icons">add</i></button>
    <div class="player-list-container col s5">
      <ul>
        <li *ngFor="let player of playerList">
            <div class="player-entry col s12">
              <div class="col s10">
                <div class="player-name">
                  <h5 class="color-black">{{ player.firstName + ' ' + player.lastName }}</h5>
                </div>
              </div>
              <div class="col s2 player-score">
                <h3>{{player.getScore()}}</h3>
              </div>
            </div>
        </li>
      </ul>
    </div>
    <div class="selected-players-container col s5 offset-s2">
      <p>xfdfxf</p>
    </div>
  </div>
</div>
