@import 'variables';

.color-white {
  color: $white;
}

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

.color-black {
  color: $black;
}

.color-gray {
  color: $gray;
}

.color-paleblue {
  color: $paleblue;
}


.bg-white {
  background-color: $white;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-black {
  background-color: $black;
}

.bg-gray {
  background-color: $gray;
}

.bg-paleblue {
  background-color: $paleblue;
}
